.container {
    width: 360px;
    margin: 100px auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input {
  width: 100%;
}

.switch {
    margin-top: 12px;
    font-size: 16px;
    color: #9c9189;
    cursor: pointer;
    text-decoration: underline;
}

.switch:hover {
    color: #ffbb00;
}

.button {
    width: 100%;
    margin: 20px;
}

.Input {
    margin-top: 16px;
}